# README.md
#get T recovery status for the 167 pts localized disease cohort using the 50ng/dL threshold 

## Table of Contents
* [Read data, clean up and get stats](#first-bullet)
* [Get the baseline T dates and values](#second-bullet)
* [Get the T recovery status](#third-bullet)

In [7]:
import numpy as np
import pandas as pd
import sys, getopt
import csv
from datetime import datetime
import itertools

from matplotlib import pyplot
from pylab import *
import matplotlib.pyplot as plt
%matplotlib inline  
import seaborn as sns

# Read data, clean up and get stats <a class="anchor" id="first-bullet"></a>

In [8]:
df1=pd.read_excel("./data/T_recovery_localized_disease_167pts_cohort.xlsx", header=0)
df1.fillna('', inplace=True)
#df1['inital_ADT_end_date'] = pd.to_datetime(df1['inital_ADT_end_date'])
list_pt=df1["person_id"].to_list()
print(shape(df1))

(167, 14)

In [9]:
df1[:3]

,person_id,status_manual_ok,status_tbaseline,status_rec,ADT_start,ADT_end,baseline_tdate,baseline_tvalue,rec_tdate,rec_tvalue,person_id.1,Salvage RT+ADT (Y/N),evidence for E,ADT used as part of localized disease (Y/N)
0,38,Y,Y,Y,2015-11-18,2016-07-18,2015-11-18,288.37,2018-04-16 00:00:00,317.16,38,N,"Given his age and high risk disease, he is not...",Y
1,81,Y,Y,Y,2014-04-15,2016-06-09,2014-04-10,313.07,2017-04-03 00:00:00,309.59,81,Y,,Y
2,119,Y,Y,Y,2013-07-02,2013-10-02,2013-06-17,403.10,2015-09-21 00:00:00,331.74,119,N,,Y

In [13]:
df_tvalue=pd.read_excel("./data/pca_tresults_20210119_BP_fixed.xlsx", header=0)
#df3=pd.read_csv("just_start_empty.csv", header=0)
df_tvalue.replace(r'', np.NaN)
df_tvalue[:3]

df_tvalue_grouped=df_tvalue.groupby(["person_id"]).size().reset_index(name='counts')
list_pt_t_test=df_tvalue_grouped["person_id"].to_list()
print("list of pt ids with t test results")
print(len(list_pt_t_test))

print("overlapping with t test")
overlap_list1=[x for x in list_pt if x in list_pt_t_test]
print(len(overlap_list1))

list of pt ids with t test results
4490
overlapping with t test
167

In [14]:
def closest(lst, K): 
      return lst[min(range(len(lst)), key = lambda i: abs(lst[i] - K))]

In [17]:
df1[:3]

,person_id,status_manual_ok,status_tbaseline,status_rec,ADT_start,ADT_end,baseline_tdate,baseline_tvalue,rec_tdate,rec_tvalue,person_id.1,Salvage RT+ADT (Y/N),evidence for E,ADT used as part of localized disease (Y/N)
0,38,Y,Y,Y,2015-11-18,2016-07-18,2015-11-18,288.37,2018-04-16 00:00:00,317.16,38,N,"Given his age and high risk disease, he is not...",Y
1,81,Y,Y,Y,2014-04-15,2016-06-09,2014-04-10,313.07,2017-04-03 00:00:00,309.59,81,Y,,Y
2,119,Y,Y,Y,2013-07-02,2013-10-02,2013-06-17,403.10,2015-09-21 00:00:00,331.74,119,N,,Y

In [18]:
list_pt[:3]

[38, 81, 119]

In [19]:
threshold=50

# T recovery status

In [22]:
result_status_list_rec=[]
df2=df_tvalue

for y in list_pt:    
    df1_pt=df1[(df1["person_id"] == y)]
    df1_pt['ADT_end'] = pd.to_datetime(df1_pt['ADT_end'])
    
    if(len(df1_pt.ADT_end) == 0):        
        b='NaN'
        #gap='NaN'
        tdate='NaN'
        tvalue='NaN'
        status="NaN"
        N_t_dates='NaN'
        N_t_dates_afterADT='NaN'

    if(len(df1_pt.ADT_end)!= 0):        
        b=df1_pt['ADT_end'].to_list()[0]
        
        df2_pt=df2[(df2["person_id"] == y)]    
        each_pt_tdates = df2_pt['result_date'].to_list()

        ##get rid of nan
        cleaned_a=[]
        cleaned_a= [x for x in each_pt_tdates if str(x) != 'NaN']
        cleaned_aa= [x for x in cleaned_a if str(x) != 'nan']
        cleaned_aaa= [x for x in cleaned_aa if str(x) != 'NaT']
        N_t_dates=len(cleaned_aaa)

        #only keep the ones after ADT end date including on the day
        cleaned_aaaa= [x for x in cleaned_aaa if x >=b]
        start_sorted_bin=sorted(cleaned_aaaa)
        N_t_dates_afterADT=len(cleaned_aaaa)
   
        if(len(start_sorted_bin)==0):
            tdate='NaN' 
            tvalue="NaN"
            status="NaN"

#get the T recovery status

        if(len(start_sorted_bin)>0):
            #recovery subset
            df3_pt=df2_pt[df2_pt.test_results >= threshold][df2_pt.result_date >=b]
            #nonrecovery subset
            df4_pt=df2_pt[df2_pt.test_results < threshold][df2_pt.result_date >=b]

            if not df3_pt.empty:
                status ="Y"
                tdate=df3_pt['result_date'].to_list()[0]
                tvalue=df3_pt['test_results'].to_list()[0]
            
            #if not df4_pt.empty:
            if df3_pt.empty:
                status ="N"
                tdate=df4_pt['result_date'].to_list()[-1]
                tvalue=df4_pt['test_results'].to_list()[-1]
    
    print(y,b,tdate,tvalue,status,N_t_dates,N_t_dates_afterADT)
    result_status_per_pt=[y,b,tdate, tvalue, status,N_t_dates,N_t_dates_afterADT]
    result_status_list_rec.append(result_status_per_pt)
#result_status_list_rec=[]

/Users/yuqincai/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/yuqincai/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:44: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/Users/yuqincai/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:46: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

38 2016-07-18 00:00:00 2017-04-13 00:00:00 109.63 Y 20 13
81 2016-06-09 00:00:00 2016-12-29 00:00:00 228.03 Y 12 10
119 2013-10-02 00:00:00 2014-06-04 00:00:00 185.79 Y 12 10
870 2017-10-13 00:00:00 2018-04-10 00:00:00 228.0 Y 10 7
1257 2015-07-08 00:00:00 2016-01-27 00:00:00 203.25 Y 14 13
1503 2018-11-26 00:00:00 2020-01-10 00:00:00 208.87 Y 6 4
1508 2017-04-16 00:00:00 2017-10-21 00:00:00 54.0 Y 9 5
1583 2013-09-11 00:00:00 2013-10-16 00:00:00 10.0 N 6 1
1704 2015-06-05 00:00:00 2015-12-11 00:00:00 125.0 Y 13 12
2061 2019-02-06 00:00:00 2019-10-09 00:00:00 39.2 N 7 2
2063 2018-03-20 00:00:00 2018-05-17 00:00:00 75.75 Y 11 10
2200 2014-11-03 00:00:00 2014-12-03 00:00:00 26.17 N 4 1
2623 2019-10-03 00:00:00 2020-05-28 00:00:00 177.1 Y 15 1
2652 2019-06-01 00:00:00 2019-12-16 00:00:00 379.41 Y 6 3
2655 2017-11-07 00:00:00 2018-05-10 00:00:00 89.58 Y 15 9
2660 2018-10-09 00:00:00 2019-07-09 00:00:00 633.0 Y 8 6
3030 2015-06-05 00:00:00 2020-03-18 00:00:00 116.55 Y 9 7
3579 2015-03-25 00:00:00 2015-11-16 00:00:00 73.12 Y 40 24
3993 2020-02-06 00:00:00 NaN NaN NaN 8 0
4056 2012-08-30 00:00:00 2013-02-28 00:00:00 13.61 N 3 1
4235 2012-04-03 00:00:00 2012-08-08 00:00:00 10.0 N 3 1
5021 2015-10-01 00:00:00 2020-08-30 00:00:00 4.33 N 17 15
5041 2011-10-17 00:00:00 2012-11-08 00:00:00 154.74 Y 12 11
5043 2019-08-31 00:00:00 2020-01-13 00:00:00 30.56 N 6 2
5561 2019-06-21 00:00:00 NaN NaN NaN 4 0
5791 2020-12-01 00:00:00 NaN NaN NaN 7 0
5870 2017-11-13 00:00:00 2018-09-04 00:00:00 111.0 Y 14 11
5873 2010-11-08 00:00:00 2011-09-15 00:00:00 275.61 Y 5 4
5875 2018-07-23 00:00:00 NaN NaN NaN 4 0
6505 2015-05-27 00:00:00 2015-10-16 00:00:00 128.47 Y 14 12
6794 2019-06-27 00:00:00 2019-08-16 00:00:00 13.68 N 3 2
7236 2017-01-04 00:00:00 2017-09-27 00:00:00 245.58 Y 24 23
7268 2019-01-19 00:00:00 2019-08-07 00:00:00 726.27 Y 8 6
7611 2018-09-12 00:00:00 2020-07-13 00:00:00 8.01 N 34 18
7612 2016-01-20 00:00:00 2016-05-18 00:00:00 570.37 Y 37 34
8272 2018-09-07 00:00:00 2020-07-06 00:00:00 19.42 N 18 7
8302 2014-06-09 00:00:00 2015-01-20 00:00:00 124.79 Y 22 16
8544 2018-11-21 00:00:00 2018-11-21 00:00:00 3.0 N 4 1
8758 2014-11-04 00:00:00 2016-02-10 00:00:00 356.5 Y 5 4
9233 2016-12-05 00:00:00 2017-07-14 00:00:00 51.0 Y 10 2
9541 2016-03-25 00:00:00 2016-11-03 00:00:00 148.62 Y 4 2
9975 2018-03-05 00:00:00 2018-10-03 00:00:00 228.66 Y 13 6
10124 2014-09-04 00:00:00 2016-01-07 00:00:00 84.79 Y 5 1
10945 2019-12-12 00:00:00 2020-05-14 00:00:00 15.06 N 14 2
11482 2018-03-01 00:00:00 2018-10-18 00:00:00 174.17 Y 33 16
11613 2017-03-17 00:00:00 2019-01-03 00:00:00 13.0 N 5 2
11859 2018-08-08 00:00:00 2019-01-23 00:00:00 236.52 Y 8 7
11861 2018-07-06 00:00:00 2020-01-10 00:00:00 440.34 Y 3 2
12184 2015-07-29 00:00:00 2016-04-04 00:00:00 380.33 Y 7 3
12187 2016-02-24 00:00:00 2017-04-21 00:00:00 220.96 Y 5 3
12208 2017-09-19 00:00:00 2018-05-16 00:00:00 341.45 Y 3 1
12374 2018-10-22 00:00:00 2019-07-12 00:00:00 86.44 Y 7 4
12563 2020-10-05 00:00:00 NaN NaN NaN 15 0
12779 2013-12-12 00:00:00 2015-08-10 00:00:00 81.31 Y 9 6
13170 2017-09-05 00:00:00 2018-05-09 00:00:00 104.0 Y 8 5
13274 2018-09-01 00:00:00 2019-02-22 00:00:00 236.0 Y 8 3
13609 2018-04-23 00:00:00 2018-11-16 00:00:00 231.0 Y 7 5
13613 2019-09-24 00:00:00 2019-10-07 00:00:00 345.0 Y 6 2
13859 2017-10-23 00:00:00 2018-04-23 00:00:00 162.71 Y 27 20
14217 2017-05-01 00:00:00 2017-09-11 00:00:00 558.99 Y 19 13
14221 2019-06-11 00:00:00 2019-09-04 00:00:00 11.31 N 2 1
14242 2016-02-15 00:00:00 2016-11-11 00:00:00 142.37 Y 19 16
14278 2018-11-26 00:00:00 2019-04-03 00:00:00 253.13 Y 15 9
14287 2019-07-15 00:00:00 2019-10-07 00:00:00 152.4 Y 7 4
14486 2018-04-12 00:00:00 2018-10-18 00:00:00 171.0 Y 13 7
14900 2018-09-01 00:00:00 2020-03-09 00:00:00 5.18 N 28 7
14990 2019-06-24 00:00:00 2020-01-15 00:00:00 80.94 Y 8 3
15149 2015-08-14 00:00:00 2015-11-13 00:00:00 17.37 N 5 2
15495 2018-08-15 00:00:00 2019-05-22 00:00:00 669.05 Y 8 3
16175 2018-04-03 00:00:00 2018-08-02 00:00:00 91.83 Y 23 10
16546 2018-09-12 00:00:00 2019-05-13 00:00:00 73.9 Y 17 12
16558 2017-01-23 00:00:00 2018-01-31 00:00:00 476.04 Y 9 5
16630 2012-10-01 00:00:00 2017-09-15 00:00:00 5.0 N 3 1
17341 2018-07-08 00:00:00 2018-10-26 00:00:00 341.0 Y 5 2
17395 2018-02-07 00:00:00 2018-09-12 00:00:00 393.1 Y 9 8
17559 2015-11-24 00:00:00 2016-06-03 00:00:00 439.17 Y 8 3
17580 2018-02-26 00:00:00 2019-11-07 00:00:00 723.05 Y 7 1
17638 2014-09-09 00:00:00 2014-12-09 00:00:00 10.0 N 4 1
17662 2014-08-15 00:00:00 2015-02-10 00:00:00 51.09 Y 40 39
17710 2014-09-10 00:00:00 2015-03-03 00:00:00 134.4 Y 49 45
18303 2017-09-12 00:00:00 2018-10-10 00:00:00 13.58 N 9 7
18450 2019-04-25 00:00:00 2019-12-09 00:00:00 278.93 Y 7 3
19068 2017-10-01 00:00:00 2018-05-04 00:00:00 154.0 Y 4 3
19917 2018-10-05 00:00:00 2019-01-04 00:00:00 180.67 Y 6 1
20015 2011-07-20 00:00:00 2012-02-15 00:00:00 59.79 Y 21 19
20047 2011-04-11 00:00:00 2011-04-14 00:00:00 141.28 Y 5 4
20270 2018-03-12 00:00:00 2018-11-28 00:00:00 519.63 Y 4 2
20556 2019-01-11 00:00:00 2019-10-07 00:00:00 401.0 Y 5 2
20929 2017-02-27 00:00:00 2017-08-02 00:00:00 370.63 Y 14 10
21047 2019-03-01 00:00:00 2019-10-29 00:00:00 421.29 Y 5 3
21341 2019-04-08 00:00:00 2019-10-30 00:00:00 330.26 Y 6 5
21351 2015-06-11 00:00:00 2016-02-03 00:00:00 27.73 N 2 1
21448 2016-10-08 00:00:00 2016-12-22 00:00:00 17.38 N 11 2
21480 2017-06-19 00:00:00 2017-12-18 00:00:00 88.0 Y 11 7
21613 2017-10-12 00:00:00 2019-02-19 00:00:00 61.0 Y 11 4
21655 2016-05-31 00:00:00 2017-02-28 00:00:00 437.3 Y 11 9
21656 2016-03-23 00:00:00 2016-09-20 00:00:00 81.83 Y 21 16
21832 2016-05-26 00:00:00 2016-11-28 00:00:00 312.15 Y 10 2
21932 2016-05-27 00:00:00 2017-03-06 00:00:00 405.77 Y 16 12
21938 2019-04-25 00:00:00 2019-12-19 00:00:00 3.0 N 8 3
22100 2018-01-17 00:00:00 2018-08-01 00:00:00 133.16 Y 16 8
22380 2016-10-03 00:00:00 2017-05-16 00:00:00 441.03 Y 25 15
22412 2016-11-07 00:00:00 2016-12-05 00:00:00 18.78 N 11 2
22483 2018-10-18 00:00:00 2019-04-11 00:00:00 149.78 Y 17 10
22676 2012-10-03 00:00:00 2013-12-16 00:00:00 252.01 Y 7 6
22833 2019-02-13 00:00:00 2019-11-20 00:00:00 34.91 N 10 4
23306 2016-03-28 00:00:00 2016-10-03 00:00:00 339.56 Y 20 17
23945 2018-03-06 00:00:00 2019-03-08 00:00:00 300.94 Y 6 4
23979 2018-11-12 00:00:00 2019-02-08 00:00:00 11.03 N 2 1
24143 2019-04-15 00:00:00 2019-07-22 00:00:00 50.0 Y 6 2
24222 2018-04-18 00:00:00 2019-05-08 00:00:00 210.56 Y 15 10
24226 2017-04-12 00:00:00 2017-11-01 00:00:00 326.99 Y 5 3
24474 2013-08-14 00:00:00 2015-10-30 00:00:00 600.62 Y 9 6
24562 2019-08-26 00:00:00 2020-05-12 00:00:00 66.63 Y 11 5
24582 2019-02-27 00:00:00 2019-10-01 00:00:00 429.45 Y 19 5
25809 2016-03-03 00:00:00 2016-05-19 00:00:00 14.37 N 17 2
25886 2016-01-20 00:00:00 2016-08-17 00:00:00 178.42 Y 23 16
26071 2015-04-27 00:00:00 2015-09-18 00:00:00 11.95 N 4 2
26687 2019-10-25 00:00:00 2020-03-18 00:00:00 20.28 N 4 2
26735 2015-10-19 00:00:00 2016-04-12 00:00:00 179.86 Y 20 19
26854 2018-05-15 00:00:00 2018-08-03 00:00:00 13.54 N 4 2
27180 2016-02-16 00:00:00 2016-09-19 00:00:00 233.39 Y 14 12
27207 2015-07-31 00:00:00 2016-06-03 00:00:00 113.07 Y 9 7
27255 2018-05-16 00:00:00 2018-11-06 00:00:00 3.0 N 5 1
27656 2012-09-18 00:00:00 2013-03-12 00:00:00 70.05 Y 42 32
27710 2017-08-07 00:00:00 2018-02-05 00:00:00 60.65 Y 14 12
27766 2016-03-28 00:00:00 2016-08-31 00:00:00 92.39 Y 13 9
27945 2019-10-15 00:00:00 2020-07-20 00:00:00 409.0 Y 3 2
27966 2016-06-16 00:00:00 2016-12-21 00:00:00 88.44 Y 23 16
28209 2011-07-18 00:00:00 2012-07-09 00:00:00 52.63 Y 32 13
28716 2016-09-19 00:00:00 2017-04-05 00:00:00 256.77 Y 32 14
29307 2015-12-29 00:00:00 2016-06-28 00:00:00 87.81 Y 13 12
29359 2018-02-01 00:00:00 2018-07-09 00:00:00 149.73 Y 8 4
30554 2018-05-09 00:00:00 2018-08-13 00:00:00 191.58 Y 31 22
30689 2018-06-22 00:00:00 2019-03-19 00:00:00 485.0 Y 7 6
30816 2020-05-21 00:00:00 2020-08-07 00:00:00 3.0 N 11 1
30997 2013-05-15 00:00:00 2013-05-15 00:00:00 311.26 Y 11 8
31131 2017-09-06 00:00:00 2019-08-07 00:00:00 94.86 Y 20 14
31297 2014-09-03 00:00:00 2014-12-08 00:00:00 243.59 Y 35 29
31492 2017-08-28 00:00:00 2018-02-14 00:00:00 475.77 Y 10 7
31839 2019-10-29 00:00:00 2020-01-24 00:00:00 14.03 N 4 1
31921 2016-03-22 00:00:00 2016-12-16 00:00:00 586.44 Y 19 11
32116 2019-09-24 00:00:00 2019-12-10 00:00:00 3.0 N 12 2
32230 2015-11-04 00:00:00 2016-05-16 00:00:00 50.12 Y 16 12
32276 2014-08-18 00:00:00 2015-05-11 00:00:00 81.3 Y 11 9
32280 2016-02-26 00:00:00 2016-02-26 00:00:00 28.5 N 4 1
33477 2016-05-27 00:00:00 2017-06-23 00:00:00 240.0 Y 6 4
33500 2017-06-28 00:00:00 2017-12-06 00:00:00 75.87 Y 6 2
33586 2019-10-08 00:00:00 2020-06-10 00:00:00 344.0 Y 20 2
34207 2018-09-27 00:00:00 2020-05-28 00:00:00 20.0 N 10 5
34414 2019-12-05 00:00:00 2020-06-01 00:00:00 13.07 N 11 1
34433 2015-08-10 00:00:00 2016-02-09 00:00:00 604.14 Y 17 15
34547 2018-05-09 00:00:00 2018-09-17 00:00:00 111.0 Y 14 9
35103 2019-10-10 00:00:00 2020-01-20 00:00:00 11.06 N 9 2
35115 2017-11-01 00:00:00 2019-04-15 00:00:00 53.8 Y 30 9
35343 2019-01-07 00:00:00 2019-07-24 00:00:00 574.43 Y 4 1
35779 2014-07-16 00:00:00 2015-02-19 00:00:00 327.29 Y 3 2
36062 2016-06-07 00:00:00 2016-12-13 00:00:00 86.93 Y 21 18
36249 2019-02-28 00:00:00 2020-01-07 00:00:00 313.0 Y 6 3

36508 2016-07-11 00:00:00 2017-02-13 00:00:00 264.72 Y 18 15
167118 2020-02-19 00:00:00 NaN NaN NaN 2 0
167358 2019-04-24 00:00:00 2019-10-09 00:00:00 109.11 Y 8 5
180346 2019-09-18 00:00:00 2019-10-09 00:00:00 14.55 N 3 2
180780 2020-01-15 00:00:00 2020-05-13 00:00:00 10.46 N 4 2
185086 2020-02-07 00:00:00 2020-06-10 00:00:00 41.84 N 7 3
186766 2020-02-03 00:00:00 2020-09-02 00:00:00 730.6 Y 10 4
187363 2019-06-19 00:00:00 2020-02-24 00:00:00 366.97 Y 9 4

In [34]:
df_result_status_rec=pd.DataFrame(result_status_list_rec)
df_result_status_rec.columns=(['person_id', 'initial_ADT_end_date', 'Tdate_rec_norec', 'Tvalue_rec_norec','Recovery_Status',"N_T_dates","N_T_dates_afterADT"])
df_result_status_rec[:3]

,person_id,initial_ADT_end_date,Tdate_rec_norec,Tvalue_rec_norec,Recovery_Status,N_T_dates,N_T_dates_afterADT
0,38,2016-07-18,2017-04-13,109.63,Y,20,13
1,81,2016-06-09,2016-12-29,228.03,Y,12,10
2,119,2013-10-02,2014-06-04,185.79,Y,12,10

In [48]:
df_result_status_rec[:3]

,person_id,initial_ADT_end_date,Tdate_rec_norec,Tvalue_rec_norec,Recovery_Status,N_T_dates,N_T_dates_afterADT
0,38,2016-07-18,2017-04-13,109.63,Y,20,13
1,81,2016-06-09,2016-12-29,228.03,Y,12,10
2,119,2013-10-02,2014-06-04,185.79,Y,12,10

In [47]:
#crosscheck results: are the subset with T value > 50 all have Status as Y
df_rec_group=df_result_status_rec[df_result_status_rec.Recovery_Status=="Y"]
df_rec_group[:3]

,person_id,initial_ADT_end_date,Tdate_rec_norec,Tvalue_rec_norec,Recovery_Status,N_T_dates,N_T_dates_afterADT
0,38,2016-07-18,2017-04-13,109.63,Y,20,13
1,81,2016-06-09,2016-12-29,228.03,Y,12,10
2,119,2013-10-02,2014-06-04,185.79,Y,12,10

In [54]:
df_result_status_rec.to_csv("./data/167pt_salvage_recovery_status_threshold_"+str(threshold)+"_April6.csv", encoding='utf-8', index=False)

In [53]:
df_rec_pt=df_result_status_rec[df_result_status_rec.Recovery_Status=="Y"]
df_nonrec_pt=df_result_status_rec[df_result_status_rec.Recovery_Status=="N"]

list_pt_rec=df_rec_pt["person_id"].to_list()
list_pt_nonrec=df_nonrec_pt["person_id"].to_list()
#
print(len(list_pt_rec))
print(len(list_pt_nonrec))

121
40